.teachers-page { padding: 1.2rem 2rem 1.2rem 2rem; }
.teachers-page h1 { color: #d16d8a; margin-top: 0.5rem; margin-bottom: 1.5rem; font-size: 2.5rem; text-align: center; }
.teachers-page li { margin-bottom: 1.2em; } 